*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  //   border: 3px solid red;
}

.similar-container {
  width: 100%;
}

.info-container {
  padding: 40px 100px;

  @media (max-width: 768px) {
    padding: 0;
    padding-right: 20px;
  }
}

.info__title {
  font-size: 24px;
  font-weight: 900;
  //   font-family: cursive;
  font-style: italic;
  color: #377176;
  text-align: center;
  margin-bottom: 50px;
}

.info__details {
  display: flex;
  padding-left: 45px;
  gap: 80px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.info__detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding-top: 5px;

  &-heading {
    font-size: 16px;
    font-weight: 900;
    color: #fab9a2;
    letter-spacing: -0.5px;
  }

  &-content {
    font-size: 15px;
  }

  &__description {
    max-width: 900px;
    flex: 1;

    &-title {
      font-size: 26px;
      font-weight: 900;
      letter-spacing: -1px;
      color: #75d5df;
    }

    &-content {
      font-size: 16px;
      font-family: "Arial Narrow", Arial, sans-serif;
      margin-top: 16px;
      line-height: 160%;
    }
  }
}

.popup-title {
  font-size: 26px;
  text-align: center;
  color: #42787d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 50px;
}

.popup__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  padding-bottom: 30px;
  //   border: 3px solid green;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  &-item {
    position: relative;
    max-width: 290px;
    height: 200px;
    // border: 3px solid red;

    @media (max-width: 768px) {
      max-width: 336px;
    }

    @media (max-width: 480px) {
      max-width: 470px;
    }

    &-span-2 {
      grid-column: span 2;
      max-width: 580px;
      height: 350px;

      @media (max-width: 768px) {
        max-width: 720px;
      }

      @media (max-width: 480px) {
        grid-column: span 1;
        max-width: 470px;
      }
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.popup__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fancybox-image {
  //   width: 100%;
  width: 600px;
  height: auto;
  padding: 30px;

  @media (max-width: 768px) {
    width: 300px;
  }
}

.fancybox__description {
  max-width: 700px;

  &-text {
    font-size: 18px;
    line-height: 150%;
  }
}

.fancybox-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.similar {
  background-color: #e9f9f9;

  &-title {
    font-size: 32px;
    text-align: center;
    padding: 40px;
    color: #002728;
    font-style: italic;
  }

  &__item {
    // position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    // border: 30px solid green;
    padding: 30px 0;

    @media (max-width: 480px) {
      width: 200px;
      height: fit-content;
    }

    &-image {
      width: 100%;
      height: 180px;
      border-radius: 10px;
    }

    &-title {
      font-size: 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #00b6c7;
    }

    &-link {
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: 0;
    }
  }
}

.similarSwiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  // border: 3px solid black;
}

.swiper-wrapper {
  // border: 3px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // max-width: 360px;
  width: fit-content;
  // height: 300px;
  // border: 3px solid black;
}

.swiper-button-prev {
  // position: relative;
  width: 25px;
  // height: 10px;
  // border: 3px solid blue;
  left: 0;
}

.swiper-button-next {
  // position: absolute;
  width: 25px;
  // border: 3px solid blue;
  right: 0;
  // top: 35%;
  // right: 0px;
  // padding: 10px;
}
