@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Black.ttf) format("truetype");
  font-weight: 900;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #17293e;
}

body {
  font-family: Inter, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

button {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  border: none;
}

.hero {
  width: 100%;
  height: 638px;
  background-image: linear-gradient(to left, rgba(22, 23, 72, 0.5019607843) 0%, #000000 100%), url(../uploads/image\ 5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.myswiper2 {
  height: 80%;
  position: relative;
}
.myswiper2 .swiper-slide {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper__content-container {
  max-width: 1210px;
  height: 100%;
  margin: 0 auto;
  border: 2px solid red;
}

.hero__profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 3px solid red;
}

.hero__content-wrapper {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .hero__content-wrapper {
    margin-bottom: 15px;
  }
}

.hero__heading {
  font-size: 70px;
  line-height: 110%;
  letter-spacing: -2px;
  color: #fff;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .hero__heading {
    font-size: 58px;
  }
}
@media (max-width: 768px) {
  .hero__heading {
    font-size: 48px;
  }
}

.hero__content {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 150%;
  letter-spacing: 0;
}
@media (max-width: 768px) {
  .hero__content {
    font-size: 15px;
  }
}

.hero__action {
  display: inline;
  border-radius: 35px;
  display: flex;
  align-items: center;
  background-color: #ff1c9d;
  padding: 15px 45px;
  max-width: 240px;
}

.hero__button {
  background-color: #ff1c9d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
}
.hero__button:hover {
  color: #17293e;
  cursor: pointer;
}

.thumbs__container {
  width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  border: 3px solid red;
  display: flex;
  justify-content: flex-end;
}

.myswiper {
  max-width: 510px;
  border: 3px solid blue;
  align-self: flex-end;
  margin-right: 50px;
}
@media (max-width: 1024px) {
  .myswiper {
    max-width: 420px;
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .myswiper {
    max-width: 320px;
  }
}

.hero__thumbnail {
  max-width: 160px;
}
.hero__thumbnail:hover {
  cursor: pointer;
}

.hero__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  max-width: 150px;
  background-color: rgba(255, 255, 255, 0.1529411765);
}

.hero__progress-bar-fill {
  height: 100%;
  background: linear-gradient(to right, #ff1c9d 0%, #ff1c9d 100%);
  width: 0%;
}

@keyframes fillProgressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.hero__thumbnail-info {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .hero__thumbnail-info {
    font-size: 14px;
  }
}

.about__container {
  background-image: url(../uploads/image\ 10.jpg), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.968627451) 46%, rgba(255, 255, 255, 0.9843137255) 100%);
  background-size: 100% 100%;
  padding-top: 100px;
  padding-right: 20px;
  margin-bottom: 30px;
}

.info {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.info__header {
  max-width: 870px;
  text-align: center;
}

.info__header__section {
  display: flex;
  flex-direction: column-reverse;
}

.info__heading {
  margin: 18px 0;
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -2px;
}

.info__header__caption {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.info__header__content {
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.info__section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 10px;
}

.info__section-item {
  max-width: 376px;
  border: 1px inset rgba(13, 41, 88, 0.1019607843);
  background-color: rgba(121, 124, 152, 0.0509803922);
  padding: 40px 30px;
  border-radius: 25px;
}

.icon-People-1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  stroke-width: 0;
  fill: #ff1c9d;
}

.icon-Mortarboard-1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #ff1c9d;
}

.icon-Personal-Growth-1 {
  display: inline-block;
  width: 60px;
  height: 60px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #ff1c9d;
}

.info__section-title {
  font-size: 26px;
  line-height: 110%;
  margin-top: 40px;
  margin-bottom: 15px;
}

.info__section__text {
  font-size: 15px;
  line-height: 160%;
}

.info__action {
  max-width: 260px;
  padding: 15px 20px;
  border: 2px solid #ff1c9d;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.info__action:hover {
  background-color: #ff1c9d;
  cursor: pointer;
}
.info__action:hover .info__button {
  color: #fff;
  background-color: #ff1c9d;
  cursor: pointer;
}
.info__action:hover .icon-Vector-1 {
  fill: #fff;
}

.info__button {
  font-size: 18px;
  color: #ff1c9d;
  font-weight: 600;
  letter-spacing: 0px;
  background-color: #fff;
  margin-right: 20px;
}

.heading {
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px 20px;
  position: relative;
}

.heading__wrapper {
  max-width: 629px;
  width: 70%;
}

.heading__title {
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -2px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .heading__title {
    font-size: 30px;
  }
}

.heading__content {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #4c5175;
}
@media (max-width: 768px) {
  .heading__content {
    font-size: 14px;
  }
}

.heading__content__link {
  color: #ff1c9d;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.heading__content__link:hover {
  color: #17293e;
  background-color: #ff1c9d;
}

.heading__icon-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  top: auto !important;
  margin: 0 !important;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: none;
  stroke: #ff1c9d;
  fill: #fff;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  cursor: pointer;
  fill: #ff1c9d;
  stroke: #fff;
  stroke-width: 1;
}

.team {
  display: flex;
  flex-wrap: wrap;
  max-width: 1210px;
  margin: 10px auto;
  gap: 14px;
  padding: 0 20px;
}

.swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.team__member {
  max-width: 582px;
  height: 415px;
  position: relative;
  border-bottom: 2px solid rgba(76, 81, 117, 0.1490196078);
  transition: opacity 0.3s ease;
}
.team__member:hover {
  border-bottom: 2px solid #ff1c9d;
}
@media (max-width: 768px) {
  .team__member {
    width: 100%;
    max-width: 550px;
  }
}

.team__image {
  width: 100%;
  height: 320px;
}
@media (max-width: 768px) {
  .team__image {
    width: 100%;
    max-width: 550px;
  }
}

.team__member__name {
  margin-top: 15px;
  font-size: 20px;
  line-height: 100%;
}

.team__member__info {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.25px;
  max-width: 282px;
  opacity: 0.66;
  padding: 5px 0;
}

.team__member-link,
.success-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.profile__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #17293e;
}

.profile__content {
  max-width: 400px;
}

.profile__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.designation {
  font-size: 18px;
  color: #666161;
  margin-bottom: 15px;
  font-weight: 600;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.social-links {
  display: flex;
  gap: 15px;
}

.achievements {
  max-width: 1210px;
  padding: 0 20px;
  margin: 40px auto;
}

.achievements__header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .achievements__header {
    flex-direction: column;
    gap: 18px;
  }
}

.achievements__header__section {
  max-width: 598px;
  display: flex;
  flex-direction: column-reverse;
  gap: 18px;
}
@media (max-width: 768px) {
  .achievements__header__section {
    gap: 10px;
  }
}

.achievements__header__caption {
  opacity: 0.75;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.achievements__header__headline {
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -2px;
}

.achievements__header__info {
  max-width: 247px;
  font-size: 15px;
  line-height: 160%;
  font-weight: 500;
  align-self: flex-end;
}

.achievements__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
  gap: 30px;
}

.achievements__section-item {
  max-width: 370px;
  height: 560px;
  position: relative;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 30px;
}

.achievements__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.achievements__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 28, 157, 0) 0%, #000000 100%);
}

.achievements__section-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-Medal-First-Place-1 {
  display: inline-block;
  width: 34.5px;
  height: 36.65px;
  stroke-width: 0;
  fill: #fff;
}

.icon-Graduation-Cap-1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  fill: #fff;
}

.icon-Trophy-1 {
  display: inline-block;
  width: 40px;
  height: 40px;
  stroke-width: 0;
  fill: #fff;
}

.achievements__section__title {
  max-width: 310px;
  font-size: 32px;
  color: #fff;
  line-height: 110%;
  margin-top: 20px;
  margin-bottom: 15px;
}

.achievements__section__content {
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  opacity: 0.75;
}

.achievements__action {
  max-width: 375px;
  padding: 15px 40px;
  border: 1px solid #ff1c9d;
  border-radius: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.achievements__action:hover {
  background-color: #ff1c9d;
  color: #fff;
  cursor: pointer;
}
.achievements__action:hover .icon-Vector-1, .achievements__action:hover .achievements__button {
  fill: #fff;
  background-color: #ff1c9d;
  color: #fff;
}

.achievements__button {
  font-size: 18px;
  font-weight: 600;
  color: #ff1c9d;
  margin-right: 20px;
  background-color: white;
}

.success {
  max-width: 1210px;
  padding: 0 20px;
  margin: 20px auto;
  display: flex;
  gap: 95px;
}
@media (max-width: 768px) {
  .success {
    flex-direction: column;
    align-items: center;
  }
}

.success__header {
  flex: 1;
  max-width: 344px;
}

.success__title {
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -2px;
  margin-bottom: 27px;
}

.success__action {
  max-width: 324px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  border: 2px solid #ff1c9d;
  border-radius: 40px;
}
.success__action:hover {
  background-color: #ff1c9d;
  color: #fff;
  cursor: pointer;
}
.success__action:hover .icon-Vector-1, .success__action:hover .success__button {
  fill: #fff;
  background-color: #ff1c9d;
  color: #fff;
}

.success__button {
  font-size: 17px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: #ff1c9d;
  margin-right: 20px;
  background-color: #fff;
}
.success__button:hover {
  cursor: pointer;
}

.icon-Vector-1--pink {
  fill: #ff1c9d;
}

.success__section {
  flex: 1;
}

.success__item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  padding: 5px 20px;
  margin-bottom: 10px;
  background-color: rgba(13, 41, 88, 0.1);
  border-radius: 15px;
}
.success__item:hover {
  background-color: rgba(255, 28, 157, 0.2274509804);
  cursor: pointer;
}
.success__item:hover .success__content {
  font-weight: 700;
}

.success__icon {
  display: inline-block;
  width: 33px;
  height: 33px;
  stroke-width: 0;
  fill: #ff1c9d;
}
.success__icon--fancy {
  width: 90px;
  height: 90px;
}

.success__info {
  padding: 10px;
  border-left: 1px inset rgba(121, 124, 152, 0.1019607843);
}

.success__date {
  font-size: 15px;
  margin-right: 15px;
}
.success__date--fancy {
  font-size: 30px;
  margin: 10px 0;
}

.success__content {
  display: inline-block;
  font-size: 15px;
  line-height: 130%;
}
.success__content--fancy {
  font-size: 35px;
  text-align: center;
}

.success__container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
}

.testimonials {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.testimonials__heading {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  gap: 18px;
  margin-bottom: 40px;
}

.testimonials__title {
  max-width: 412px;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: -0.5px;
  margin: 0 auto;
}

.testimonials__caption {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #4c5175;
  opacity: 0.75;
}

.testimonial__button-left,
.testimonial__button-right {
  position: static !important;
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: none;
  stroke: #ff1c9d;
  fill: #fff;
}
.testimonial__button-left:hover,
.testimonial__button-right:hover {
  cursor: pointer;
  fill: #ff1c9d;
  stroke: #fff;
  stroke-width: 1;
}

.testimonial__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testimonial {
  width: 764px;
  height: 583px;
  /* Active slide will have higher opacity */
}
.testimonial .swiper-slide {
  position: relative;
  height: 583px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .swiper-slide {
  opacity: 0.3; /* Lower opacity for non-visible slides */
  transition: opacity 0.3s ease; /* Smooth transition */
}
.testimonial .swiper-slide-active {
  opacity: 1; /* Full opacity for the active slide */
}

.testimonial__image-wrapper {
  position: absolute;
  z-index: -10;
}

.icon-Vector-2 {
  display: inline-block;
  width: 744px;
  height: 563px;
  stroke-width: 0;
  opacity: 0.15;
  fill: url(#gradient1);
}

.testimonial__content-wrapper {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  gap: 30px;
}

.icon-untitled {
  display: inline-block;
  width: 40px;
  height: 30px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #ff1c9d;
}

.testimonial__footer {
  display: flex;
  gap: 15px;
}

.testimonial__footer-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonial__footer-title {
  margin-bottom: 5px;
}

.cta {
  max-width: 1210px;
  height: 410px;
  padding: 0 20px;
  margin: 40px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-radius: 40px;
}

.cta-image-wrapper {
  position: absolute;
  top: 0;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  z-index: -5;
  border-radius: 40px;
}
.cta-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(18, 57, 133, 0.5019607843) 0%, #17293e 100%);
  border-radius: 40px;
}

.cta-image {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.cta__content-box {
  max-width: 790px;
  padding-bottom: 30px;
}

.cta__heading {
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -2px;
  color: #fff;
}

.cta__content {
  font-size: 15px;
  font-weight: 500;
  line-height: 160%;
  margin: 20px 0;
  color: #fff;
  text-align: center;
}

.cta__action {
  max-width: 280px;
  padding: 15px 20px;
  border-radius: 40px;
  background-color: #ff1c9d;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.cta__button {
  background-color: #ff1c9d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
}
.cta__button:hover {
  color: #17293e;
  cursor: pointer;
}

.news {
  max-width: 1210px;
  padding: 40px 20px;
  margin: 0 auto;
}

.news__header {
  display: flex;
  flex-direction: column-reverse;
  max-width: 598px;
  padding-bottom: 30px;
}

.news__info {
  font-weight: 700;
  opacity: 0.75;
  color: #4c5175;
  font-size: 16px;
  letter-spacing: 0.5px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.news__title {
  font-size: 46px;
  color: #17293e;
  letter-spacing: -2px;
  line-height: 120%;
}

.news__article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 768px) {
  .news__article {
    flex-direction: column;
    align-items: center;
  }
}

.news__main-image-wrapper {
  position: relative;
  max-width: 575px;
  border: 1px solid black;
}
.news__main-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 28, 157, 0.9019607843) 15%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
}

.news__main-image {
  width: 100%;
  max-width: 575px;
  height: auto;
  position: relative;
}

.news__main-content-wrapper {
  margin-top: -105px;
  position: relative;
  z-index: 5;
  padding: 30px 30px;
  max-width: 575px;
}

.news__main-title {
  font-size: 40px;
  line-height: 44px;
}

.news__main-content {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin: 25px 0;
}

.news__article-footer {
  max-width: 515px;
}

.news__article__time {
  font-size: 18px;
  font-weight: 600;
  color: #767b97;
}
.news__article__time--smaller {
  font-size: 15px;
}

.news__article-footer-divider {
  display: inline-block;
  width: 1px;
  height: 22px;
  border: 1px solid #767b97;
  position: relative;
  top: 3px;
  margin: 0 25px;
}

.news__article__link {
  font-size: 18px;
  font-weight: 600;
  color: #ff1c9d;
}
.news__article__link--smaller {
  font-size: 15px;
}
.news__article__link:hover {
  background-color: #ff1c9d;
  color: #fff;
}

.news__sub {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  gap: 20px;
}

.news__sub-container {
  display: flex;
}

.news__sub-item {
  flex: 1;
  padding: 20px 10px;
}

.news__sub-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.news__sub-image {
  width: 219px;
  height: auto;
}

#footer {
  background-color: #17293e;
}

.footer__wrapper {
  padding: 60px 30px 90px;
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 120px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__left {
  flex: 1;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .footer__left {
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__left-box {
  margin-bottom: 30px;
  width: 360px;
}
@media (max-width: 768px) {
  .footer__left-box {
    margin-bottom: 20px;
  }
}

.footer__left-image {
  max-width: 205.8px;
  max-height: 50px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .footer__left-image {
    max-width: 150px;
  }
}

.footer__left-content {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.75;
  color: #fff;
  line-height: 25.6px;
}

.footer__left-detail {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 19.36px;
  opacity: 0.5;
  padding-bottom: 10px;
}

.footer__left-link {
  text-decoration: underline;
  color: #fff;
}
.footer__left-link:hover {
  color: #ff1c9d;
}

.footer__center {
  flex: 1;
}
@media (max-width: 768px) {
  .footer__center {
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__center-box {
  margin-bottom: 30px;
}

.footer__center-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__center-content {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.65;
  color: #fff;
  line-height: 22.4px;
}

.footer__center-signup {
  margin: 10px 0;
  padding: 0 18px;
  margin-right: 18px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__center-signup {
    margin: 0 auto;
    max-width: 275px;
  }
}

.footer__center-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  background-color: #17293e;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
}
.footer__center-button:hover {
  color: #ff1c9d;
}
@media (max-width: 768px) {
  .footer__center-button {
    padding: 15px;
  }
}

.icon-Vector-1 {
  display: inline-block;
  width: 24px;
  height: 18px;
  stroke-width: 0;
  stroke: #fff;
}
.icon-Vector-1:hover {
  cursor: pointer;
  stroke: green;
  stroke-width: 1.5;
  fill: purple;
}

.icon-Vector-1--white {
  fill: #fff;
}

.footer__center-box-title {
  font-size: 20px;
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .footer__social-icon {
    margin: 10px;
  }
}
.footer__social-icon:hover {
  cursor: pointer;
  fill: #ff1c9d;
}

.footer__icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  stroke-width: 0;
  stroke: #fff;
  fill: #002632;
}
.footer__icon:hover {
  cursor: pointer;
  fill: #ff1c9d;
}

.footer__right {
  flex: 1;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__right {
    width: 40%;
    margin: 0 auto;
    padding-left: 20px;
  }
}

.footer__right-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.footer__right-list li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.75;
  line-height: 32px;
}
.footer__right-list li a:hover {
  color: #ff1c9d;
  background-color: #fff;
}

.footer__link-status {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer__link-status:hover {
  background-color: #ff1c9d;
  color: #17293e;
}/*# sourceMappingURL=style.css.map */