@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Black.ttf) format("truetype");
  font-weight: 900;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #17293e;
}

body {
  font-family: Inter, sans-serif;
  background-color: #fff;
}

button {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  border: none;
}

.heading {
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
}

.heading__wrapper {
  max-width: 629px;
}

.heading__title {
  font-size: 46px;
  line-height: 120%;
  letter-spacing: -2px;
  padding-bottom: 10px;
}

.heading__content {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  color: #4c5175;
}

.heading__content__link {
  color: #ff1c9d;
}
.heading__content__link:hover {
  color: #17293e;
  background-color: #ff1c9d;
}

.heading__icon-container {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: none;
  fill: #fff;
}
.icon:hover {
  cursor: pointer;
  background-color: #ff1c9d;
  border-radius: 30%;
}

.team {
  display: flex;
  flex-wrap: wrap;
  max-width: 1210px;
  margin: 10px auto;
  gap: 14px;
}

.team__member {
  flex: 1;
  max-width: 282px;
  height: 415px;
  position: relative;
}
.team__member::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 30px;
  border: 3px solid red;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.team__member:hover::after {
  opacity: 1;
}

.team__image {
  width: 100%;
  max-width: 282px;
  height: auto;
}

.team__member__name {
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 5px;
}

.team__member__info {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.25px;
}

.news {
  max-width: 1210px;
  padding: 80px 20px;
  margin: 0 auto;
}

.news__header {
  display: flex;
  flex-direction: column-reverse;
  max-width: 598px;
}

.news__info {
  font-weight: 700;
  opacity: 0.75;
  color: #4c5175;
  font-size: 16px;
  letter-spacing: 0.5px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.news__title {
  font-size: 46px;
  color: #17293e;
  letter-spacing: -2px;
  line-height: 120%;
}

.news__article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.news__main-image-wrapper {
  position: relative;
  max-width: 575px;
  border: 1px solid black;
}
.news__main-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 28, 157, 0.9019607843) 15%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
}

.news__main-image {
  width: 100%;
  max-width: 575px;
  height: auto;
  position: relative;
}

.news__main-content-wrapper {
  margin-top: -105px;
  position: relative;
  z-index: 5;
  padding: 30px 30px;
  max-width: 575px;
}

.news__main-title {
  font-size: 40px;
  line-height: 44px;
}

.news__main-content {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  margin: 25px 0;
}

.news__article-footer {
  max-width: 515px;
}

.news__article__time {
  font-size: 18px;
  font-weight: 600;
  color: #767b97;
}
.news__article__time--smaller {
  font-size: 15px;
}

.news__article-footer-divider {
  display: inline-block;
  width: 1px;
  height: 22px;
  border: 1px solid #767b97;
  position: relative;
  top: 3px;
  margin: 0 25px;
}

.news__article__link {
  font-size: 18px;
  font-weight: 600;
  color: #ff1c9d;
}
.news__article__link--smaller {
  font-size: 15px;
}
.news__article__link:hover {
  background-color: #ff1c9d;
  color: #fff;
}

.news__sub {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex: 1;
  gap: 20px;
}

.news__sub-container {
  display: flex;
}

.news__sub-item {
  flex: 1;
  padding: 20px 10px;
}

.news__sub-title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.news__sub-image {
  width: 219px;
  height: auto;
}

#footer {
  background-color: #17293e;
}

.footer__wrapper {
  padding: 50px 30px;
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

.footer__left {
  flex: 1;
}
@media (max-width: 768px) {
  .footer__left {
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__left-box {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer__left-box {
    margin-bottom: 20px;
  }
}

.footer__left-image {
  max-width: 205.8px;
  max-height: 50px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer__left-image {
    max-width: 150px;
  }
}

.footer__left-content {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.75;
  color: #fff;
  line-height: 25.6px;
}

.footer__left-detail {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  line-height: 19.36px;
  opacity: 0.5;
  padding-bottom: 10px;
}

.footer__left-link {
  text-decoration: underline;
}
.footer__left-link:hover {
  color: #fff;
}

.footer__center {
  flex: 1;
}
@media (max-width: 768px) {
  .footer__center {
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer__center-box {
  margin-bottom: 30px;
}

.footer__center-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.footer__center-content {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.65;
  color: #fff;
  line-height: 22.4px;
}

.footer__center-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  background-color: #17293e;
  color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
}
.footer__center-button:hover {
  background-color: rgba(255, 0, 0, 0.473);
}
@media (max-width: 768px) {
  .footer__center-button {
    width: 100%;
    padding: 15px;
  }
}

.footer__center-image {
  max-width: 24.29px;
}
.footer__center-image:hover {
  cursor: pointer;
}

.footer__center-box-title {
  font-size: 20px;
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .footer__social-icon {
    margin: 10px;
  }
}
.footer__social-icon:hover {
  cursor: pointer;
}

.footer__right {
  flex: 1;
}
@media (max-width: 768px) {
  .footer__right {
    width: 40%;
    margin: 0 auto;
    padding-left: 20px;
  }
}

.footer__right-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.footer__right-list li a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.75;
  line-height: 32px;
}
.footer__right-list li a:hover {
  color: #ff1c9d;
  background-color: #fff;
}

.footer__link-status {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer__link-status:hover {
  background-color: #ff1c9d;
  color: #17293e;
}/*# sourceMappingURL=style.css.map */